<header class="header" role="banner">
    <div class="mobile-phone">
        {{#if settings.phone_number}}
            Call Us: <a href="tel:+{{settings.phone_number}}">{{settings.phone_number}}</a>
        {{/if}}
    </div>
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}
    <div class="searchwrapper">
        <div class="container">
            {{#if template '===' 'pages/home'}}
                <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                    {{> components/common/store-logo}}
                </div>
            {{else}}
                <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}
            <div class="info-col">
                <div class="phone-social">
                    <div class="head-phone">
                        {{#if settings.phone_number}}
                            Call Us: <a href="tel:+{{settings.phone_number}}">{{settings.phone_number}}</a>
                        {{/if}}
                    </div>
                    <div class="header-social">
                        {{> components/common/social-links}}
                    </div>
                </div>
                <div class="quickSearch" tabindex="-1" data-prevent-quick-search-close>
                    {{> components/common/quick-search}}
                </div>
                <div class="header-social" style="display: none;">
                    {{> components/common/social-links}}
                </div>
            </div>
        </div>
    </div>
    {{{region name="header_bottom"}}}
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
</header>
