---
brand:
    products:
        //limit: {{theme_settings.brandpage_products_per_page}}
        limit: 40
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}}
{{#if brand.image}}
    <div class="brand-image-container">
        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage brand.image 'thumb_size'}}">
    </div>
{{/if}}
{{{snippet 'brand'}}}
<div class="page">

    <main class="page-content" id="product-listing-container">
        {{#if brand.products}}
            {{> components/brand/product-listing}}
        {{else}}
            <p>{{lang 'brands.no_products'}}</p>
        {{/if}}
    </main>
</div>

{{/partial}}
{{> layout/base}}
