// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------

.card-figure {
    margin-top: $card-figure-marginTop;
    &:hover {
        // scss-lint:disable NestingDepth
        .card-figcaption {
            opacity: 1;
        }
    }
}
.card-figcaption {
    display: none;
    margin: $card-figcaption-margin;
    pointer-events: none; // 1
    @include breakpoint("medium") {
        display: block;
    }
}
.card-figcaption-body {
    display: $card-figcaption-body-display;
}
.card-body .card-figcaption-body {
    display: $card-figcaption-body-display;
    top: 0;
    transform: initial;
}
.card-body .card-figcaption-button {
    background-color: transparent;
    color: #fff;
    background: #424546;
    padding: 7px 20px 8px;
    text-transform: uppercase;
    border: 1px solid #303334 !important;
    font-family: "Arial", sans-serif;
    font-weight:500;
    font-size: 11px;
    margin-bottom: 5px;
}
.card-body .card-figcaption-body {
    .product-rating{
        line-height:25px;
    }
    .compare-button{
        background: transparent;
        border: none !important;
        vertical-align: middle;
        color: #424242;
        font-size: 14px;
        text-transform: capitalize;
        padding:0;
        input{
            vertical-align: middle;
            margin-right: 10px;    
        }
    }
}
.card-image {
    border: 0;
    display: flex;
    margin: auto;
    width: auto;
}
.card-title {
    font-size: 14px;
    margin: $card-title-margin;
    text-transform: none;
    > a {
        color: #424242;
        text-decoration: none;
        font-family: "Arial", sans-serif;
        text-align: center;
        font-size: 14px;
        // scss-lint:disable NestingDepth
        &:hover {
            color: #b40000;
        }
    }
}
.card-text {
    margin-bottom: $card-text-marginBottom;
    color: #424242 !important;
    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}
.card-figcaption-button {
    border: $card-figcaption-button-border;
    display: $card-figcaption-button-display;
    margin: $card-figcaption-button-margin;
    &:active {
        background-color: #424546;
        border: $card-figcaption-button-border;
    }
    + .card-figcaption-button {
        margin: $card-figcaption-button-margin;
    }
}
.card-body {
    text-align: center;
    @include breakpoint("small") {
        text-align: center;
    }
}

//
// Alternate card
//
// Purpose: Used to give the card alternative styling
// -----------------------------------------------------------------------------
.card--alternate {
    border: 3px solid stencilColor("card--alternate-borderColor");
    transition: all 0.15s ease;
    .card-body {
        background-color: stencilColor("card--alternate-backgroundColor");
        padding: spacing("half");
        transition: all 0.15s ease;
        @include breakpoint("small") {
            padding: spacing("single");
        }
    }
    &:hover {
        border-color: stencilColor("color-primary");
        // scss-lint:disable SelectorDepth, NestingDepth
        .card-body {
            background-color: stencilColor("color-primary");
            .card-text {
                color: #424242;
            }
        }
        .card-title > a {
            color: stencilColor("card--alternate-color--hover");
        }
    }
}
