// =============================================================================
// USER NAVIGATION (CSS)
// =============================================================================
//
// 1. Corrects the spacing added by .navUser-or
// 2. Can't use top: 50% because its container `.header` changes its height to
//    100% when mobile menu is expanded
// 3. Make the triangle for dropdown centered
// 4. Needs to be 100% so its dropdown can take full width in mobile viewport
// 5. Needs to be lower than logo zIndex, otherwise, logo is not clickable
//
// -----------------------------------------------------------------------------
.navUser {
    @include nav($style: "navBar", $wrapper: "nav");
    @include verticalPositionMiddle("absolute");
    right: 0;
    top: remCalc(40); // 2
    transform: none;
    width: 100%; // 4
    z-index: zIndex("lowest"); // 5.
    @include breakpoint("medium") {
        padding: 11px 0;
        background: #424546;
        position: relative;
        right: auto;
        top: auto;
        transform: none;
        z-index: zIndex("high");
    }

    .dropdown-menu {
        background-color: stencilColor("navUser-dropdown-backgroundColor");
        border: 1px solid stencilColor("navUser-dropdown-borderColor");
        box-shadow: container("dropShadow");
        position: absolute;

        // scss-lint:disable NestingDepth
        &.is-open {
            &:before {
                @include css-triangle(
                    $triangle-direction: "bottom",
                    $triangle-size: 10px,
                    $triangle-color: stencilColor("navUser-dropdown-borderColor")
                );
                bottom: 100%;
                left: spacing("half");
                position: absolute;
            }

            &:after {
                @include css-triangle(
                    $triangle-direction: "bottom",
                    $triangle-size: 8px,
                    $triangle-color: stencilColor("navUser-dropdown-backgroundColor")
                );
                bottom: 100%;
                left: spacing("half") + remCalc(2px);
                position: absolute;
            }
        }
    }
}
.navUser-item a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
}
.navUser-item a:hover{text-decoration: none;}
.navUser ul .navUser-item:first-child{border-left:none;}
.navUser-action {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;

    &:hover,
    &.is-open {
        color: stencilColor("navUser-color-hover");

        // scss-lint:disable NestingDepth
        svg {
            fill: stencilColor("navUser-color-hover");
            stroke: stencilColor("navUser-color-hover");
        }
        // scss-lint:enable NestingDepth
    }

    .icon {
        @include square(8px);
        margin: -1px 0 0 spacing("eighth");
    }

    svg {
        fill: stencilColor("navUser-color");
        stroke: stencilColor("navUser-color");
        transition: all 0.15s ease;
    }
}

.navUser-action--storeCredit + .dropdown-menu {
    max-width: remCalc(300px);
    padding: spacing("single");

    &:before {
        // scss-lint:disable ImportantRule
        left: remCalc(140px) !important; // 3
    }

    &:after {
        // scss-lint:disable ImportantRule
        left: remCalc(142px) !important; // 3
    }
}

.navUser-action-divider {
    border-right: container("border");
    color: stencilColor("color-textSecondary");
    display: inline-block;
    padding: 0 remCalc(20) 0 0;
    text-decoration: none;
}

.navUser-item {
    display: none;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 11px !important;
    padding-left: 12px !important;
    line-height: 12px;

    @include breakpoint("medium") {
        display: block;

        &.navUser-item--social {
            margin-top: rem-calc(5px);
            padding-right: rem-calc(5px);
        }

        &.navUser-item--divider {
            font-size: rem-calc(25px);
            margin-top: rem-calc(8px);
            padding-left: rem-calc(2px);
        }
    }
}

.navUser-item--cart {
    display: block;
    .navUser-action {
        color: #fff;
        height: remCalc(60);
        padding: remCalc(10) 0;
        text-align: center;
        width: remCalc(60);
        // scss-lint:disable NestingDepth
        &:hover,
        &.is-open {
            color: stencilColor("navUser-color-hover");
        }
        @include breakpoint("medium") {
            color: #fff;
            height: auto;
            padding: 0;
            text-align: left;
            width: auto;
        }
    }
    .dropdown-menu {
        max-width: remCalc(320px);
        top: 29px !important;

        // scss-lint:disable NestingDepth
        &.is-open {
            &:before,
            &:after {
                left: auto;
            }

            &:before {
                right: spacing("half");
            }

            &:after {
                right: spacing("half") + remCalc(2px);
            }
        }
    }
}
.navUser .previewCartAction-viewCart a{
    color: #fff;
}
.navUser .previewCartItem-name a{
    color: #989898;
}

.navUser-item-cartLabel {
}

.navUser-item--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navUser-item--account {

    .navUser-or {

        // scss-lint:disable NestingDepth
        + .navUser-action {
            margin-right: 0; // 1
        }
    }

    .navUser-action {
        display: inline-block;
    }
}

.navUser-or {
    color: #fff;
    cursor: default;
    display: inline-block;
    margin: 0;
    padding: 0 2px;
    position: relative;
    z-index: 1;
    font-size: 12px;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
}
.navUser .icon-shopping-cart{
    background: url('//www.firereplicas.com/content/shopping-cart.svg') center center no-repeat;
    background-size: 100%;
    display: block;
    height: remCalc(20);
    margin: 0 auto;
    width: remCalc(20);
    @include breakpoint("medium") {
        background-image: url('//www.firereplicas.com/content/cartIcon.png');
        display: initial;
        height: remCalc(18);
        margin-right: 4px;
        padding:0 6px;
        width: remCalc(18);
    }
}

// Quick search
// -----------------------------------------------------------------------------
//
// 1. Overriding the inline styles from Foundation as this is a unique dropdown.
//
// -----------------------------------------------------------------------------

.navUser-action--quickSearch {

    &.is-open {
        position: relative;

        // scss-lint:disable NestingDepth
        &:before {
            @include css-triangle(
                $triangle-direction: "bottom",
                $triangle-size: 10px,
                $triangle-color: color("greys", "lightest")
            );
            bottom: 0;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }
}

.dropdown--quickSearch {
    background-color: $dropdown--quickSearch-backgroundColor;
    padding: spacing("single") 0;

    @include breakpoint("small") {
        padding: spacing("double");
    }

    &.is-open {
        // scss-lint:disable ImportantRule
        left: 0 !important; // 1
        outline: none;
        right: 0 !important; // 1
        width: 100% !important;
        z-index: zIndex("high");
    }

    .form {
        margin: auto;
        max-width: 30rem;
    }

    .form,
    .form-field {
        margin-bottom: 0;
    }

    .form-input {
        font-size: fontSize("small");
        height: unset;
    }

    .productGrid {
        padding: spacing("single") 0 0;

        @include breakpoint("small") {
            padding: spacing("double") 0 0;
        }
    }
}

// Counter Pill
// -----------------------------------------------------------------------------
//
// 1. Hardcoded intentionally for precise pixels.
//
// -----------------------------------------------------------------------------

.countPill {
    background-color: transparent;
    border-radius: 50%;
    display: none;
    font-size: fontSize("tiny");
    margin-left: spacing("eighth");
    text-align: center;
    font-family: "Arial", sans-serif;
    @include breakpoint("medium") {
        display: inline-block;
    }
}

.countPill--positive {
    display: none;
    @include breakpoint("medium") {
        display: inline-block;
    }
}

.countPill--alt {
    background-color: color("greys", "lighter");
    color: color("greys", "darker");
}
