// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background: #ebebeb;
    color: #898989;
    padding: 0 0 1px;
    margin-top:30px;
}

.footer-info {
    font-size: 0; // 1
}
.footer-info-col.last{
    padding-right: 0px;
}
.footer-info-col {
    width: 100%;
    float: left;
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: 0;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--medium{
    @include breakpoint("medium") {
        width: width("3/12");
        padding-right: 30px;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: $footer-heading-fontColor;
    font-size: 14px;
    text-transform: inherit;
    border-top: 1px solid rgba(163, 162, 162, 0.5);
    padding-top: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #41413b;
}
.social-links-box .socialLinks {
    line-height: normal;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: #898989;
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-copyright {
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    > .powered-by {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        border-top: 1px solid rgba(163, 162, 162, 0.5);
        padding-top: 15px;
        margin-top: 15px;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-info-col .form-prefixPostfix .button {
    height: 2rem;
    line-height: 28px;
    padding: 0 15px;
    margin: 0;
    background: #b40000;
    border: 1px solid #2F2F2F;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    width: auto;
}
.footer-info-col .form-prefixPostfix .form-input {
    height: 2.5rem;
    background: #F6F6F6;
    margin-bottom: 12px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .footer-info-col .form-prefixPostfix .button {
        width: auto;
        margin: 0 auto;
    }
}
@media screen and (min-width: 481px) and (max-width: 800px) { 
    .footer-info-col {
        width: 50%;
        text-align: left;
    }
    .footer-info-col:nth-child(odd){padding-right:15px;}
    
}
